/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------

:: Navigation
:: Header
:: About
:: Provide
:: Services
:: Contact
:: Footer
:: Buttons

*/

/* Navigation */

#contact {
	border: 1px solid #282a34;
	border-radius: 6px;
	padding: 20px 25px;
	line-height: 0;
}

#contact:hover {
	background: #16181e;
}

#contact:hover a {
	color: #FFF;
}

/* Header */

header {
	background: #c95a51;
	padding: 100px 0;
}

header p {
	color: #545762;
	text-align: center;
}

header h2 {
	text-align: center;
}

/* About */

.about {
	width: 100%;
	border: 1px solid rgb(235,235,235);
	background: #FFF;
	padding: 70px 0 75px;
}

.about img {
	margin: 0 0 15px 0;
}

.about h3 {
	font-size: 26px;
}

.about object {
	margin: 0 0 15px 0;
}

.about .navigate {
	text-transform: uppercase;
	font-size: 13px;
}

.opening {
	padding-bottom: 60px;
}

/* Provide */

.navigate {
	border: 1px solid #d3d5dc;
	border-radius: 6px;
	padding: 12px 20px;
	display: inline-block;
	position: relative;
	margin: 15px 0 0px;
	color: #ced0d7;
	font-size: 15px;
	behavior: url(PIE.php);
}

.navigate:hover {
	border: 1px solid #676D7A;
	border-radius: 6px;
	behavior: url(PIE.php);
}

.provide {
	background: #f5f5f5 url('../images/main-texture-3.jpg') repeat;
	padding: 80px 0 90px;
}

.provide h3 {
	font-size: 22px;
	line-height: 18px;
	margin-bottom: 25px;
}

.provide h3.team {
	font-size: 34px;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0 0 20px;
}

.about h3.team {
	font-size: 34px;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0 0 50px;
}

.deliver {
	background: #FFF;
	padding: 95px 0;
	border: 1px solid rgb(235,235,235);
}

.provide img {
	padding: 50px 0;
}

.deliver img {
	padding: 80px 0;
}

/* Services */

.services {
	background: #f5f5f5 url('../images/main-texture-3.jpg') repeat;
	padding: 65px 0 60px;
}

/* Contact */

.get-in-touch {
	background: #FFF;
	padding: 60px 0;
	border: 1px solid rgb(235,235,235);
}

.get-in-touch h3 {
	margin: 0;
	padding: 5px 0 4px;
}

/* Footer */

footer {
	background: #143654;
	color: #d2d3d5;
	padding: 60px 0 30px;
}

footer p {
	color: #4e5d68;
}

footer ul {
	list-style: none;
}

footer li {
	font-size: 15px;
	padding-bottom: 12px;
}

footer a {
	color: #d2d3d5;
	text-decoration: none;
}

footer a:hover {
	color: #FFF;
	text-decoration: none;
}

ul.experience li {
	border-bottom: 1px solid #343945;
	padding: 8px 0;
}

ul.experience li:hover {
	border-bottom: 1px solid #343945;
	padding: 8px 0;
}

ul.experience li:last-child {
	border-bottom: 0px;
}

.footer {
	padding-top: 40px;
}

footer h3 {
	color: #FFF;
	font-size: 22px;
	line-height: 18px;
	margin: 25px 0;
}

footer h3.team {
	font-size: 34px;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #FFF;
	margin: 0 0 60px;
}

.footer a {
	color: #30424f;
	text-decoration: none;
}

.footer a:hover {
	color: #FFF;
	text-decoration: none;
}

.footer .mobile-two {
	padding-right: 0px;
}

/* Button */

.button {
	width: 250px;
	display: block;
	position: relative;
	margin: 35px auto 30px auto;
	text-transform: uppercase;
	text-align: center;
	font: 600 14px "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #ffffff;
	padding: 20px 30px;
	border-radius: 8px;
	border: 3px solid #FFF;
	behavior: url(PIE.php);
}

.button2 {
	width: 100%;
	display: block;
	position: relative;
	margin: 0 auto;
	text-transform: uppercase;
	text-align: center;
	font: 600 13px "Lato", Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #ffffff;
	padding: 16px 30px;
	background: -moz-linear-gradient( top, #333845 0%, #313642 20%, #2e323e 60%, #2a2e3a 38%, #2e323e);
	background: -webkit-gradient( linear, left top, left bottom, from(#373d4a), color-stop(0.20, #363c48), color-stop(0.65, #2e323d), color-stop(0.80, #2b303c), to(#333846));
	background: -ms-linear-gradient(top, #333845 0%, #313642 20%, #2e323e 60%, #2a2e3a 38%, #2e323e 100%);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#333845", endColorStr="#2e323e");
	box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.02);
	border-radius: 4px; border: 1px solid #242630;
	border-top: 1px solid rgba(255,255,255,0.05);
	text-shadow: 0px -2px 0px rgba(39,43,53,1);
	behavior: url(PIE.php);
}

.button:hover, .button2:hover {
	position: relative;
	background: #d66c67;
	color: #FFF;
	behavior: url(PIE.php);
}

@media only screen and (max-width: 767px) {

p, li {
	font-size: 16px;
}

h5 {
	margin-top: 10px;
}

.provide img, .deliver img {
	margin: 5px auto 30px auto;
	padding: 0 25px;
}

header {
	padding: 20px 0 40px;
	text-align: center;
}

header h2 {
	font-size: 34px;
}

.button, .button2 {
	width: 100%;
	height: 60x;
	margin: 30px 0 0px;
	padding: 20px 0;
}

#about {
	padding-bottom: 0px;
}

.about {
	padding-top: 50px;
}

.about h3 {
	padding-bottom: 30px;
}

#about p {
	margin-bottom: 10px;
}

.member {
	padding: 40px 0;
}

.provide h3.team {
	padding: 20px 0 5px;
}

.about h3.team {
  padding: 20px 0 5px;;
}

footer h3.team {
	padding: 40px 0 5px;
}

.navigate {
	margin: 15px 0 60px;
}

.provide .navigate, .deliver .navigate  {
	margin-bottom: 20px;
}

.provide, .deliver, .services {
	padding: 40px 0;
	text-align: center;
}

.get-in-touch h3 {
	font-size: 28px; text-align: center;
	margin-bottom: 10px;
}

footer {
	padding: 15px 0 0;
}

footer .mobile-four {
	text-align: center;
}

footer li {
	list-style-position: center;
}

ul.experience li:first-child {
	margin-top: -15px;
}

ul.experience li:last-child {
	border-bottom: 1px solid #343945;
}

.footer {
	background: #0c283d;
	margin-top: 30px;
	padding: 30px;
	border-top: 0;
	font-size: 14px;
}

.top {
	display: block;
	margin: 30px 0 20px 0!important;
	padding: 15px 0!important;
	border-radius: 6px;
	background: #23252e;
	border: 1px solid #343945;
}

}
